<h1>MENU</h1>

<div class="container">

  <div class="content">

       <div class="title">
      Pizza　ピザ
       </div>

   <div class="text">
   　<li>トマトソースベース</li>
   　<li>◎マリナーラ  ・・・・・・・・・・・・・・・ 1,150円　　　1,550円</li>
   　<li>◎マルゲリータ  ・・・・・・・・・・・・・・ 1,200円　　　1,600円</li>
   　<li>◎ベーコン         ・・・・・・・・・・・・・・ 1,250円　　　1,650円</li>
   　<li>◎自家製サルシッチャのピッツァ　ロッソ  ・・ 1,450円　　　1,850円</li>
   　<li>◎トウガラシとナス  ・・・・・・・・・・・・ 1,750円　　　2,150円</li>
   　<li>◎きまぐれオルトラーナ  ・・・・・・・・・・ 1,750円　　　2,150円</li>

   <li>チーズベース</li>
   　<li>◎白のマルゲリータ  ・・・・・・・・・・・・ 1,400円　　　1,800円</li>
   　<li>◎4種のチーズ・・・・・・・・・・・・・・・ 1,400円　　　1,800円</li>
   　<li>◎自家製サルシッチャのピッツァ　ビアンコ  ・ 1,450円　　　1,850円</li>
   　　<li>キノコと生ハムのピッツァ  ・・・・・・・・ 1,950円　　　2,350円</li>

   <li>その他のソースベース</li>
   　<li>◎和風きのこ  ・・・・・・・・・・・・・・・ 1,250円　　　1,650円</li>
   　<li>◎ゴママヨ チキン 　   ・・・・・・・・・・・  1,250円　　　1,650円</li>
   　<li>◎緑のマルゲリータ  ・・・・・・・・・・・・ 1400円　　　1,800円</li>
   <li>◎がついているものはテイクアウトできます。</li>
   </div>

  </div>



   <div class="content">
       <div class="title">
       Pasta パスタ
       </div>

       <div class="text">
       <li>ナスのミートソース ・・・・・・・・・・・・・・・・・・1,250円　　　1,650円</li>
       <li>フレッシュトマトとベーコンのトマトソースパスタ・・・・ 1,250円　　　1,650円</li>
       　<li>モッツァレラチーズとベーコンのトマトクリームソース ・・1,350円　　　1,750円</li>
       　<li>セミドライトマトとサルシッチャとオリーブのトマトソースパスタ・ 1,600円　　　2,000円</li>

　<li>玉ねぎのぺペロンチーノ ・・・・・・・・・・・・・・・・1,150円　　　1,550円</li>
　<li>生ハムとほうれん草のぺペロンチーノ ・・・・・・・・・・1,450円　　　1,850円</li>
　<li>グリルチキンとトマトのジェノベーゼ ・・・・・・・・・・1,400円　　　1,800円</li>

　<li>サーモンとホウレンソウのクリームパスタ ・・・・・・・・1,400円　　　1,800円</li>
　<li>サーモンときのこ、ゴルゴンゾーラのクリームパスタ・・・ 1,500円　　　1,900円</li>
　<li>カルボナーラ ・・・・・・・・・・・・・・・・・・・・・1,450円　　　1,850円</li>

<li>こだわりパスタメニュー（ペンネや平打ち麺のタリアテッレを使ったメニュー）</li>
　<li>フェトチーネ・アスパラと蒸し鶏のレモンクリームパスタ・ 1,500円          1,900円</li>
　<li>タリアテッレ・タプナードソースのベーコンパスタ・・・・ 1,550円　　　1,950円</li>
　<li>ペンネ・アラビアータ・・・・・・・・・・・・・・・・・ 1,450円　　　1,850円</li>
　<li>ペンネ・ゴルゴンゾーラとトレビスのクリームソース・・・ 1,550円　　　1,950円</li>

       </div>
   </div>
   
   
   <div class="content">
   </div>
</div>